################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleUnitTestIoCDI/v16
/ConsoleUnitTestIoCDI/bin/Debug
/ConsoleUnitTestIoCDI/obj/Debug
/ConsoleUnitTestIoCDITests/bin/Debug
/packages
/ConsoleUnitTestIoCDITests/obj/Debug
/ConsoleMocks/bin/Debug
/ConsoleMocks/obj/Debug
/ConsoleMocksTests/bin/Debug
/ConsoleMocksTests/obj/Debug
